@import '../less/constants.less';

.settings {
  text-wrap: pretty;
  margin-top: -6px;

  h4 {
    margin-block: 10px;
  }

  h5 {
    margin-top: 4px;
  }

  input {
    transform: translateY(-3px);
  }

  .flexRow {
    display: flex;
    gap: 6px;
    margin-bottom: 6px;
    align-items: start
  }

  .buttonFlexRow {
    .flexRow();
    margin-top: 15px;
    gap: 10px;
    justify-content: end;
  }
}

.actionInput {
  border-radius: 6px;
  padding: 2px 2px 2px 0;
  margin-right: 24px;

  border: transparent 1px solid;

  &:has(input[checked]) {
    label {
      font-weight: 500;
    }
  }

}

.tip {
  border-color: @medium-gray;
  background-color: @light-gray;

  p {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}