@import '../less/constants.less';

.spinner {
  border: 3px solid #f9f9f9;
  border-top: 3px solid #393fd3;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}